.select-client-type{
    width: auto; 
    margin: 0 20px 0 0;
    h4{
        display: block; 
        margin: 0 0 3px;
        // font-size: 1.2em;
        font-weight: bold;
    }
    .mat-dropdown{
        width: 50%;
        padding: 5px;
    }
}