<header [class]="expandHeader">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Ufuna Ukwazi?</span>
      <div>
        <mat-menu #BioMenu="matMenu">
          <button mat-menu-item> Settings </button>
          <button mat-menu-item> Help </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="BioMenu">
          <mat-icon>What what</mat-icon>
        </button>a

      </div>
      <div>
        <a href="javascript:void(0)" class="closebtn" (click)="closeHeader()">&times;</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>